*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    color: white;
    background-color: #081b31;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
}

.choice:hover{
    cursor: pointer; 
    background-color: #081b31;
}

img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 1rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}

.msg{
    margin-top: 5rem;
}
#info{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}